
body{
background: url('./content/weatherbackground.jpg');
  background-repeat: no-repeat;
background-attachment: cover;
 background-size:cover; 
}
.App {
  text-align: center;
}
.weatherClass{
  padding: 12% 30%;
  text-align: center;
  color:brown;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.foreCastClass{
  width: 30%;
  float: left;
  text-align: center;
}
.citySelection{
  font-size:100%;
  text-align: right;
  width: 50%;
}
.aboutCls{
  text-align: center;
   color:brown;
  padding: 20% 0%;
}
.selectionClass{
  text-align: center;
  padding: 7%;
}
.forcastDataCls{
padding-top: 5%;
}
.searchTempClass{
   width: 50%;
   float: left;
  text-align: center;
}
